.main {
  margin: 4.375rem 1.5rem 1.5rem 1.5rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main > * {
  max-width: 68.75rem;
}

.social {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.aside > * + * {
  margin-top: 0.625rem;
}

.attribution {
  text-align: center;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 765px) {
  .social {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.25rem 1.25rem;
  }

  .aside {
    align-items: flex-start;
    padding: 0 0.625rem 0 0.625rem;
  }
}
